@import "theme.css";

*{
  font-family: 'FontAwesome', 'JetBrainsMono', 'Fira Code' ;
 	font-size: 13px;
 	min-height: 0;
  color: @text;
	margin: 1px 5px;
}

window#waybar {
  background-color: shade(@base, 0.9);
	border: 2px solid alpha(@mauve, 0.9);
	border-radius: 10px;
}

#workspaces button,
#custom-browser,
#custom-filemanager,
#custom-whatsapp,
#custom-discord,
#custom-chatgpt,
#custom-change_wallpaper,
#battery,
#network,
#pulseaudio,
#backlight,
#clock,
#tray{
	/* margin: 3px 2px; */
	/* padding: 0px 1px; */
	border-radius: 4px;
	margin: 6px 3px;
	padding: 6px 12px;
	background-color: @mantle;
	color: @crust;
}

#custom-browser{
	background-color: @peach;
}
#custom-chatgpt{
	background-color: @maroon;
}
#custom-filemanager{
	background-color: @rosewater;
}
#custom-whatsapp{
	background-color: @green;
}
#custom-discord{
	background-color: @blue;
}

#custom-change_wallpaper{
	background-color: @red;
}

#battery {
  background-color: @red;
}
@keyframes blink {
  to {
    background-color: @red;
    color: @crust;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: @green;
}

#backlight {
  background-color: @peach;
}

#pulseaudio {
  background-color: @yellow
}

#network {
  background-color: @teal;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @mauve;
}

#custom-change_wallpaper {
  background-color:@rosewater;
}

#tray {
	background-color: @base;
}

#workspaces{
	margin-right: 25px;
	margin-left: 25px;
}

#workspaces *{
		color: @crust;
}

#workspaces button{
	padding: 4px 18px;
	background-color: shade(@sapphire, 0.9);
}

#workspaces button.active, #workspaces button.focused{
	background-color: shade(@rosewater, 0.8);
}

