@import "theme.css";

*{
  font-family: 'FontAwesome', 'JetBrainsMono', 'Fira Code' ;
 	font-size: 13px;
 	min-height: 0;
  color: @text;
	margin: 1px 5px;
}

window#waybar {
  background-color: shade(@base, 0.9);
	border: 2px solid alpha(@mauve, 0.6);
	border-radius: 10px;
}

#custom-browser,
#custom-filemanager,
#custom-whatsapp,
#custom-chatgpt{
	margin: 3px 5px;
	padding: 0px 5px;
}

#custom-change_wallpaper,
#battery,
#network,
#pulseaudio,
#backlight,
#tray{
	margin: 3px 2px;
	padding: 0px 1px;
}

#clock{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 10px;
	margin-left: 15px;
}


#workspaces{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 25px;
	margin-left: 25px;
}

#workspaces button{
	border-radius: 10px;
	margin: 1px 5px;
	padding: 2px 12px;
	background-color: shade(@sapphire, 0.9);
	border: 1px solid alpha(@mauve, 0.6);
	font-weight: bold;
	font-size: 14px;
}

#workspaces button.active, #workspaces button.focused{
	background-color: shade(@rosewater, 0.8);
	border: 1px solid alpha(@peach, 0.6);
}

